

tr:hover {background-color: #EEE}

.card {border: 1px solid black}

img {
	background: transparent url(http://mayeturep.epizy.com/img/xHPxmayeturepxTITxepizyxTITxcomx7ximagesx7xbooksx7xbookxTITxjpg/the-impostor.jpg) no-repeat center; 
	width: 13rem; 
	height: 20rem
}

.review {
	background-color: #b9cbe8;
	padding: 2px;
	border: 1px solid grey;
	border-radius: 10px;
}
