{% extends "layout.html" %}

{% block title %}
    {{book_info.title}}
{% endblock %}

{% block style %}
<style>
	body {background-color: #555}
</style>
{% endblock %}

{% block body %}
	<div class="row mt-5" >
		<div class="card p-2 mr-2" style="width: 14rem; height: 21rem">
			<!-- https://openlibrary.org/dev/docs/api/covers -->
			<img src="http://covers.openlibrary.org/b/isbn/{{book_info.isbn}}-L.jpg" class="card-img-top">
		</div>
		<div class="card col">
			<div class="card-body">
				<h6 class="card-title"><i>Title</i> : {{book_info.title}}</h6>
				<h6 class="card-title"><i>Author</i> : {{book_info.author}}</h6>
				<h6 class="card-title"><i>Year</i> : {{book_info.year}}</h6>
				<h6 class="card-title"><i>ISBN</i> : {{book_info.isbn}}</h6>
				<p class="card-text">{{review_info.books[0].work_ratings_count}} ratings, {{review_info.books[0].average_rating}} out of 5 average <a href="https://www.goodreads.com/book/isbn/{{book_info.isbn}}" target="_blank">on Goodreads</a>.</p>
			</div>
		</div>
	</div>
	{{review_info}}
	{{review_info.books[0].work_ratings_count}}
	{{review_info.books[0].average_rating}}
{% endblock %}
