{% extends "layout.html" %}

{% block title %}
    {{book_info.title}}
{% endblock %}

{% block style %}
<style>

body {background-color: lightgrey}

/* https://codepen.io/neilpomerleau/pen/wzxzQr?editors=1111 */
.stars {
  display: inline-block;
  position: relative;
  width:120px;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
}

.stars label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.stars label:last-child {
  position: static;
}

.stars label:nth-child(1) {
  z-index: 5;
}

.stars label:nth-child(2) {
  z-index: 4;
}

.stars label:nth-child(3) {
  z-index: 3;
}

.stars label:nth-child(4) {
  z-index: 2;
}

.stars label:nth-child(5) {
  z-index: 1;
}

.stars label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.stars label .icon {
  float: left;
  color: transparent;
}

.stars label:last-child .icon {
  color: #000;
}

.stars:not(:hover) label input:checked ~ .icon,
.stars:hover label:hover input ~ .icon {
  color: orange;
}

.stars label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}


</style>
{% endblock %}

{% block body %}
<div class="row ml-1 mr-1" >
	<div class="card p-2 mr-2" style="width: 14rem; height: 21rem">
		<!-- https://openlibrary.org/dev/docs/api/covers -->
		<img src="http://covers.openlibrary.org/b/isbn/{{book_info.isbn}}-L.jpg" class="card-img-top">
	</div>
	<div class="card col">
		<div class="card-body">
			<h6 class="card-title"><i>Title</i> : {{book_info.title}}</h6>
			<h6 class="card-title"><i>Author</i> : {{book_info.author}}</h6>
			<h6 class="card-title"><i>Year</i> : {{book_info.year}}</h6>
			<h6 class="card-title"><i>ISBN</i> : {{book_info.isbn}}</h6>
			<p class="card-text">{{goodreads_info.books[0].work_ratings_count}} ratings, {{goodreads_info.books[0].average_rating}} of 5 average <a href="https://www.goodreads.com/book/isbn/{{book_info.isbn}}" target="_blank" class="third_color">on Goodreads</a>.</p>
		</div>
	</div>
</div>
<div class="row mt-2 mb-5 ml-1 mr-1">
	<div class="card col">
		<div class="card-body">
			<h6 class="card-title">Reviews ({{reviews|length}}) :</h6>
			<hr>
			{% if reviews|length == 0 %}
				<div class="noreviews mb-4">No reviews yet for this book</div>
			{% endif %}
			{% for review in reviews %}
				<div class="review mb-2">
					<div class="row mr-2 ml-2">
						<p class="mb-1">
							<b>{{review.username}}</b> rated it 
							<!-- https://stackoverflow.com/a/13071388 -->
							<img src=" {{ url_for('''static''', filename='images/star%s.png' %review.rating) }} " style="height: 13px; width: 60px; background-image: none; margin-top: -4px">
						</p>
					</div>
					<div class="row mr-2 ml-2">
						<p class="card-text">{{review.opinion|safe}}</p>
					</div>
				</div>
			{% endfor %}

			{% if not user_submitted_review %}
			<form id="review_frm" action="/book/{{ book_info.isbn }}", method="post">
				<div class="row">
					<div class="form-group col">
					    <textarea name="opinion" class="form-control" id="Textarea1" rows="3" placeholder="What do you think about the book?"></textarea>
					</div>
					<div class="col-lg-2 col-sm-3">
						<!-- https://codepen.io/neilpomerleau/pen/wzxzQr?editors=1111 -->
						<div class="stars mt-2">
						  <label title="Didn't like it">
						    <input type="radio" name="rating" value="1" />
						    <span class="icon">★</span>
						  </label>
						  <label title="It was ok">
						    <input type="radio" name="rating" value="2" />
						    <span class="icon">★</span>
						    <span class="icon">★</span>
						  </label>
						  <label title="Liked it">
						    <input type="radio" name="rating" value="3" />
						    <span class="icon">★</span>
						    <span class="icon">★</span>
						    <span class="icon">★</span>   
						  </label>
						  <label title="Really liked it">
						    <input type="radio" name="rating" value="4" />
						    <span class="icon">★</span>
						    <span class="icon">★</span>
						    <span class="icon">★</span>
						    <span class="icon">★</span>
						  </label>
						  <label title="It was amazing">
						    <input type="radio" name="rating" value="5" />
						    <span class="icon">★</span>
						    <span class="icon">★</span>
						    <span class="icon">★</span>
						    <span class="icon">★</span>
						    <span class="icon">★</span>
						  </label>
						</div>

						<div class="w-100"></div> 

						<button type="submit" class="btn btn-primary btn-sm mt-2 add_review">Add Review</button>
					</div>
				</div>
			</form>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
