{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block body %}
    <h2>Welcome {{ username }}!</h2>
    <a href="{{ url_for('logout') }}">logout</a>

    <form action="{{ url_for('search') }}" method="get">
        <div class="form-group">
            <input class="form-control" type="text" name="q" placeholder="Search books by isbn, title, author or year">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Search</button>
        </div>
    </form>
    {% if q1 %}
    {% if book_list == [] %}
        <p>Sorry, no results for <b><i>{{ q1 }}</i></b></p>
    {% else %}
        <p>{{ book_list|length }} results found for <b><i>{{ q1 }}</i></b></p>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">ISBN</th>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col">Year</th>
            </tr>
          </thead>
          <tbody>
            {% for book in book_list %}
            <tr>
              <th scope="row">{{ loop.index }}</th>
              <td>{{ book.isbn }}</td>
              <td>{{ book.title }}</td>
              <td><a title="search for {{ book.author }}" href="/search?q={{ book.author }}">{{ book.author }}</a></td>
              <td><a title="search for {{ book.year }}" href="/search?q={{ book.year }}">{{ book.year }}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>         
    {% endif %}
    {% endif %}
{% endblock %}
